@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');
.font-family-karla { font-family: karla; }
.bg-sidebar { background: #e43c4a; }
.cta-btn { color: #3d68ff; }
.upgrade-btn { background: #1947ee; }
.upgrade-btn:hover { background: #0038fd; }
.active-nav-link { background: rgb(185, 185, 185); }
.nav-item:hover { background: #0038fd;}
.account-link:hover { background: #3d68ff; }

.container{
    flex: 4;

}